* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: antiquewhite;
}

.contain {
    /*display: flex;*/
    /*flex-direction: column;*/
}

.contain .header {
    width: 100vw;
    height: 60px;
    background-color: #bc84ee;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
}

.contain .header .box-info {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.contain .header .box-info .con-log {
    margin-right: 100px;
    line-height: 30px;
    text-decoration: none;
    font-size: 18px;
}

.contain .header .box-info .con-log #sign-out:hover {
    color: aquamarine;
    cursor: pointer;
}

.contain .spacer {
    /*background-color: antiquewhite;*/
    height: 1px;
    margin-top: 60px;
    margin-bottom: -1px;
}